In [2]:
I = 3
J = 3
multiplicated_xy_dict = {i:{j:(i * j)for j in range(J)} for i in range(I)}
print(multiplicated_xy_dict)

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [3]:
print(multiplicated_xy_dict[2][2])

4

In [5]:
print('key1','key2','val', sep='\t')
for key1,val1, in multiplicated_xy_dict.items():
    for key2,val2 in val1.items():
        print(key1,key2,val2, sep='\t')

key1	key2	val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

In [12]:
intdict = {'1':'one','2': 'two','3':'three'}
for key,val in intdict.items():
    print(key,val)

1 one
2 two
3 three

In [13]:
mountains = ['fuji','kitadake','okuhodakadake']
for i, mt in enumerate(mountains):
    print(i,mt)

0 fuji
1 kitadake
2 okuhodakadake

In [14]:
order = [1,2,3]
mountains = ['fuji','kitadake','okuhodakadake']
height = [3776,3193,3190]
for odr,mt,ht in zip(order,mountains,height):
    print(odr,mt,ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [15]:
mountains = ['kitadake','okuhodakadake','fuji']
for mt in sorted(mountains):
    print(mt)
    
print(mountains)

fuji
kitadake
okuhodakadake
['kitadake', 'okuhodakadake', 'fuji']

In [16]:
mountains = ['fuji','kitadake','okuhodakadake']
for mt in reversed(mountains):
    print(mt)
    
print(mountains)

okuhodakadake
kitadake
fuji
['fuji', 'kitadake', 'okuhodakadake']

In [17]:
mountain_in_japan = {'fuji':3776,'kitadake':3193,'okuhodakadake':3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(),key=lambda x:x[0])
print(mountain_in_japan_sorted)
for key, val in mountain_in_japan_sorted:
    print(key,val)

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190)]
fuji 3776
kitadake 3193
okuhodakadake 3190

In [19]:
print(mountain_in_japan_sorted)

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190)]

In [20]:
for key, val in reversed(mountain_in_japan_sorted):
    print(key,val)

okuhodakadake 3190
kitadake 3193
fuji 3776

In [23]:
hight = [3776,3193,3190,None,None]
used_index = []
for i, ht in enumerate(height):
    if ht is None:
        del height[i]
print(height)

[3776, 3193, 3190]

In [24]:
print(used_index)

[]

In [26]:
height = [3776,3193,3190,None,None]
for ht in height[:]:  #[3776,3193,3190,None,None]
    #print(ht)
    if ht is None:
        height.remove(ht)  #[3776,3193,3190,None] â†’ #[3776,3193,3190]
print(height)

[3776, 3193, 3190]

In [27]:
height = [3776,3193,3190,None,None]
for ht in height[:]:
    if ht is None:
        height.remove(ht)
height

[3776, 3193, 3190]

In [28]:
height = [3776,3193,3190,None,None]
height = [ht for ht in height if ht is not None]
height

[3776, 3193, 3190]

In [29]:
[1,2,3] == [1,2,3]

True

In [30]:
[1,2,3] == [1,2,3,4]

False

In [31]:
(0,1,2) == (0,1,2)

True

In [33]:
(0,1,2) == (0,1,2,3)

False

In [34]:
[1,2,3] < [1,2,3]

False

In [35]:
[1,2,3] < [1,2,3,4]

True

In [36]:
'abc' < 'avc'

True

In [37]:
print(ord('c'))
print(ord('d'))

99
100

In [38]:
set([0,1,2]) == set([0,1,2,2])

True

In [39]:
set([0,1,2]) == (0,1,2)

False

In [41]:
[[1,2,3],[4,5,6]] < [[1,2,3],[4,0,10],[5]]

False

In [42]:
[1,2] < [1,2,-1]

True

In [43]:
3 < 4 == 4

True

In [44]:
3 < (4 == 4)

False

In [45]:
4 == 4 == 1

False

In [46]:
(4 == 4) == 1

True

In [47]:
x = 2
1 < x < 3

True

In [48]:
1 < x  and x < 3

True

In [49]:
print(1 and 2 and 3)

3

In [50]:
print(bool(1 and 2 and 3))

True

In [51]:
x = 2
y = 0
z = 3
print(x and y and z)

0

In [52]:
print(1 or 2 or 3)

1

In [53]:
x = 0
y = 2
z = 3
print(x or y or z)

2